{% extends"base.html.twig" %}

{% block title %}
Accueil
{% endblock %}
{% block body %}
<h1 class="text-red-500 text-5xl text-center font-bold uppercase pb-4 mt-8">Ajouter un film</h1>
<div class="card-body bg-zinc-200 rounded-xl m-24 text-red-500" >

    {{form_start(showForm, {'attr' :  {'class':'form'}})}}
    {{form_widget(showForm, {'attr': {'novalidate': 'novalidate'}})}}
    <div>
        <input type="submit" value="envoyer" class="btn btn-secondary">
    </div>
    {{form_end(showForm)}}


</div>
{% endblock %}