{% extends"base.html.twig" %}

{% block title %}Accueil{% endblock %}

{# content #}
{% block body %}
<h1 class="text-indigo-700 text-3xl  uppercase text-center font-bold pb-4 my-4">Nos supers films</h1>

<div class="grid grid-cols-4 space-x-3">
{#je fais une boucle de mes articles#}
{% for post in posts %}
    {% include "movie/components/card.html.twig" %}   
{% endfor %}
</div>

{% endblock %}
