{% extends"base.html.twig" %}

{% block title %}Accueil{% endblock %}

{# content #}
{% block body %}
{% include "movie/partials/_heros.html.twig" %}
<h1 class="text-red-700 text-4xl  uppercase text-center  font-bold pb-4 my-4">Nos supers films</h1>

<div class="grid grid-cols-4 space-x-3">
{#je fais une boucle de mes articles#}
{% for post in posts %}
    {% include "movie/components/card.html.twig" %}   
{% endfor %}
</div>

{% endblock %}

