{% extends"base.html.twig" %}

{% block title %}
Accueil
{% endblock %}


{% block body %}
    <h1 class="text-red-600 text-3xl text-center font-bold ">Ajouter un avis</h1>

    <div class="card-body bg-zinc-200 rounded-xl m-24 text-red-500">
        {{ form_start(showForm ,{'attr':{'novalidate': 'novalidate'}}) }}
            {{form_widget(showForm)}}
            <div class="mt-5">
                <input type="submit" value="Envoyer" class="btn btn-secondary">
            </div>
        {{form_end(showForm)}}
    </div>

{% endblock %}